<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="classpath:resources/database/dataSourceBean.xml"/>

	<bean id="authorDAO" class="com.epam.com.project.dao.impl.AuthorDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="commentDAO" class="com.epam.com.project.dao.impl.CommentDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="NewsDAO" class="com.epam.com.project.dao.impl.NewsDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="tagDAO" class="com.epam.com.project.dao.impl.TagDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>