<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>news-client</display-name>
  
  

<servlet>
		<servlet-name>spring-web</servlet-name>
		<servlet-class>
                    org.springframework.web.servlet.DispatcherServlet
                </servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

  
  <servlet>
    <servlet-name>NewsListServlet</servlet-name>
    <jsp-file>/WEB-INF/jsp/newsList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsListServlet</servlet-name>
    <url-pattern>/newsList/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SaveSortedSelection</servlet-name>
    <servlet-class>main.java.com.epam.newsportal.controller.SaveSortedSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSortedSelection</servlet-name>
    <url-pattern>/SaveSortedSelection/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>